extends layout

block append header
	button.btn.btn-info#login.pull-right.hide Login with FB to Join
block append content
	.container
		#title
			h1 mustard
			p take notes with your friends
		section#notes
			header
			ul#notes-list.unstyled
				form#noteform
					input.note#text(placeholder='Add a new note', autofocus="", autocomplete="off")
			
			footer
				#status.label


	
	


