extends layout

block append content
	.container
		#title
			h1 mustard
			p take notes with your friends
		section#notes
			header: h2#topic= topic
			ul#notes-list.unstyled
				li.center: h2 loading ... 
			
			form#noteform
				input.note#text(placeholder='Add a new note', autofocus="", autocomplete="off")
			
			footer
				.pull-right
					span.fbName
					button.btn.btn-mini#login.pull-right.hide Login to Edit
				#status.label
		#fb-root

block append script

	script(src='/channel/bcsocket.js')
	script(src='/share/share.js')
	script(src="/share/textarea.js")
	script(src="/share/json.js")

	script(src="/js/models.js")
	script(src="/js/views.js") 
	script(src="/js/main.js")



