extends layout

block content
    .container
        
        #title.splash
          h1 mustard
          p take notes with your friends

        section#notes
          form#start
            input.note#doc(placeholder='pick a room, and press enter', autofocus="true", autocomplete="off")
        .center
          button.btn.hide#login login with facebook

block script
    script(src='/js/splash.js')