extends layout

block content
    .container
        
        #title.splash
          h1 mustard
          p take notes with your friends

        section#notes
          form#start
            input.note#doc(placeholder='pick a room, and press enter', autofocus="true", autocomplete="off")
        
        button.btn.btn-mini.hide#login login

block script
    script(src='/js/splash.js')