
script#note-temp(type="template")
	li
		//-.pull-left.inline.user
			.delete &times;
		.pull-right.inline.user
			span <%= escape(name) %> 
			img.fbPic(src!="https://graph.facebook.com/<%= user %>/picture?type=square")
		.note <%= text %>
		
