body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.bottom {
  width: 91%;
  bottom: 0px;
  margin: 2%;
  padding: 2%;
  position: absolute;
}
#splash {
  margin-top: 80px;
}
#start {
  margin-top: 80px;
}
#shadow {
  -moz-box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.3);
}
button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  color: inherit;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
#noteform {
  margin-bottom: 0px;
}
#notes-list {
  margin-bottom: 0px;
}
#notes {
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
  margin: 40px 0 40px 0;
  border: 1px solid #ccc;
  position: relative;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}
#notes:before {
  content: '';
  border-left: 1px solid #ff0000;
  border-right: 1px solid #ff0000;
  width: 2px;
  position: absolute;
  top: 0;
  left: 40px;
  height: 100%;
}
#notes input::-webkit-input-placeholder {
  font-style: italic;
  color: gray;
}
#notes input:-moz-placeholder {
  font-style: italic;
  color: gray;
}
#title {
  text-align: center;
}
#title h1 {
  margin-top: 40px;
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.5);
  text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}
header {
  height: 30px;
  border-radius: inherit;
}
header:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 30px;
  border-bottom: 1px solid gray;
  background: #733d1a;
}
.note,
.edit {
  position: relative;
  margin: 0;
  width: 100%;
  font-size: 24px;
  font-family: inherit;
  line-height: 1.4em;
  border: 0;
  outline: none;
  color: inherit;
  padding: 6px;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.note {
  padding: 16px 16px 16px 60px;
  background: rgba(0, 0, 0, 0.02);
  z-index: 2;
  box-shadow: none;
}
#notes-list li {
  border-top: 1px rgba(210, 230, 255, 0.7) solid;
}
#notes-list li:first-child {
  border-top: none;
}
#main {
  position: relative;
  z-index: 2;
  border-top: 1px dotted #adadad;
}
footer {
  padding: 0 10px;
  position: absolute;
  right: 0;
  bottom: -30px;
  left: 0;
  z-index: 1;
}
footer:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 30px;
  left: 0;
  height: 10px;
  z-index: -1;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 6px 0 -3px rgba(255, 255, 255, 0.8), 0 7px 1px -3px rgba(0, 0, 0, 0.3);
}
